<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gremlin -->
      <package
            uri="fr.inria.atlanmod.ocl2query.gremlin"
            class="fr.inria.atlanmod.mogwai.gremlin.GremlinPackage"
            genModel="model/gremlin.genmodel"/>
   </extension>

</plugin>
