<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/fr.inria.atlanmod.mogwai.transformation.atl.tests/materials/ClassDiagram2Relational/ATLFiles/Class2Relational.atl"/>
<stringAttribute key="ATL VM" value="Regular VM"/>
<stringAttribute key="ATL_COMPILER" value="atl2006"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<booleanAttribute key="IS_REFINING" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="Class"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="Class" value="EMF"/>
<mapEntry key="Relational" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="Class" value="METAMODELINPUT"/>
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="Relational" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Options">
<mapEntry key="OPTION_CLEAR" value="false"/>
<mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
<mapEntry key="OPTION_DERIVED" value="true"/>
<mapEntry key="allowInterModelReferences" value="false"/>
<mapEntry key="continueAfterError" value="false"/>
<mapEntry key="disableAttributeHelperCache" value="false"/>
<mapEntry key="printExecutionTime" value="false"/>
<mapEntry key="profile" value="false"/>
<mapEntry key="showSummary" value="false"/>
<mapEntry key="step" value="false"/>
</mapAttribute>
<listAttribute key="OrderedInput">
<listEntry value="IN"/>
</listAttribute>
<listAttribute key="OrderedOutput">
<listEntry value="OUT"/>
</listAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Relational"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="Class" value="/fr.inria.atlanmod.mogwai.transformation.atl.tests/materials/ClassDiagram2Relational/ClassDiagram/ClassDiagram.ecore"/>
<mapEntry key="IN" value="/fr.inria.atlanmod.mogwai.transformation.atl.tests/materials/ClassDiagram2Relational/ClassDiagram/Sample-ClassDiagram.xmi"/>
<mapEntry key="OUT" value="/fr.inria.atlanmod.mogwai.transformation.atl.tests/materials/ClassDiagram2Relational/Relational/sample-relational.xmi"/>
<mapEntry key="Relational" value="/fr.inria.atlanmod.mogwai.transformation.atl.tests/materials/ClassDiagram2Relational/Relational/Relational.ecore"/>
</mapAttribute>
<stringAttribute key="Project Name" value="ClassDiagram2Relational"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
<booleanAttribute key="supportUML2Stereotypes" value="false"/>
</launchConfiguration>
